

:root {
    color: currentColor;
    --white: #fff;
    --black: #000;
    --first-color: #0040dd;
    --first-color-t: #0040dd66;
    --light-color: #e5e5e5;


    --border-color: rgba(0, 0, 0, .2);
    --border-color-f: #b9b9b9;
    --border: 1px solid var(--border-color);
    
    --shadow-m: 0 0 5px #0003;
    --shadow-xl: 0 0 12px #0003;
    --shadow-xxl: 0 0 15px 5px #0003;
    --shadow-xxxl: 0 0 20px 10px #0003;
    
    --label-size-default: 16px;


    --label: #000000;
    --secondaryLabel: #8a8a8e;
    --color: #4d4d4d;
    --t: 200ms;
    --height-input: calc(8px * 6);
    --second-bg: #111;
}


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Display", "Inter", system-ui, sans-serif;
}

body {
    font-size: var(--label-size-default);
}

input, button, textarea {
    outline: none;
}

.primary-bg {
    background: var(--first-color);
    color: var(--white);
}

.second-bg {
    background: var(--second-bg);
    color: var(--white);
}


h1, h2, h3, h4, h5, h6 {
    color: var(--label);
}


.note, .message {
    font-size: 95%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--color);
}


.note {
    color: black;
    min-height: 30px;
}

.note1 {
    font-size: 85%;
    padding: 0 5px;
    text-align: center;
    margin-bottom: 10px;
}


.result {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.result .txt {
    font-size: .95em;
    opacity: 0.6;
}

.result .txt span {
    font-size: 1em;
    color: var(--first-color);
    font-weight: bold;
}
